language = "bash"
#run = "cd programming/2; javac ArrayPractice.java; java ArrayPractice"
#run = "cd programming/3; javac Array2DPractice.java; java Array2DPractice"
#run = "cd programming/3; javac Cgol.java; java Cgol"
#run = "cd programming/3; javac CgolExtra.java; java CgolExtra"
#run = "cd programming/5; javac GradeDriver.java; java GradeDriver"
#run = "cd programming/5; javac Driver.java; java Driver"
#run = "cd programming/6; javac SuperArrayDriver.java; java SuperArrayDriver"
#run = "cd ds/ArrayLists; javac Ds1.java; java Ds1"
#run = "cd ds/ArrayLists; javac AlPractice.java; java AlPractice"
run = "cd ds/Pointers; javac Pointers3.java; java Pointers3"
#run = "cd ds/LinkedLists; javac Driver.java; java Driver"

